{% extends "base.html" %} {% load static %}

{% block content %}

	<header>

		<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
			<div class="container">
				<a class="navbar-brand" href="/">
					<img src="{% static 'insta_app/img/camera.png' %}" width="40" height="40"> 
					<span class="desktop">instaApp</span>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<!-- <div class="collapse navbar-collapse" id="collapsibleNavbar">
					<ul class="navbar-nav ml-auto">
						<li><a href="/">Blog</a></li>
						<li><a href="/">About</a></li>
						<li><a href="/">Help</a></li>
					</ul>
				</div> -->
			</div>
		</nav>
	</header>

	<main>
		<div class="container">
			<div class="messages-container">

			</div>

			<div class="row">
				<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Sign in</h3>
						</div>
						<div class="panel-body">
							<form method="post" action=".">
								{% csrf_token %}
								<div class="form-group">
									<label class="control-label" for="id_username">Username:</label>
									<input class="form-control" type="text" id="id_username" name="username">
								</div>
								<div class="form-group">
									<label class="control-label" for="id_password">Password:</label>
									<input class="form-control" type="password" id="id_password" name="password">
								</div>
								<button type="submit" class="btn btn-primary">Sign in</button>
								<a href="/reset/" class="btn btn-link">Forgot your password?</a>
							</form>
							<br>
							Click <a href="/signup/">here</a> to Sign up    
						</div>
					</div>
				</div>
			</div>

		</div>
	</main>

{% endblock %}